@charset "utf-8";

 .jumbotron {
	 opacity: 0;
}
 #navBox {
	 opacity: 0;
}
 .nav {
	 margin-bottom: 2rem;
}
 p {
	 text-align: justify;
}
 a {
	 text-decoration: none;
	 border-bottom: 1px solid rgba(0, 123, 255, 0);
	 -webkit-transition: border 500ms ease;
	 -moz-transition: border 500ms ease;
	 -ms-transition: border 500ms ease;
	 -o-transition: border 500ms ease;
	 transition: border 500ms ease;
}
 a:active, a:focus {
	 outline: none;
}
 a:hover {
	 text-decoration: none;
	 color: #007bff;
	 border-bottom: 1px solid rgba(0, 123, 255, 1);
}
 a:visited, a:link, a:active {
	 text-decoration: none;
}
 .card {
	 min-width: 13rem;
	 margin-bottom: 1.5rem;
}

body {
	overflow: auto;
}

h1 {
	font-size: 55px;
	font-weight: 500;
}

div.animated {
	animation-duration: 1.25s;
}

#cv {
	width: 100%;
	display: block;
	margin: 0 auto;
	margin-bottom: 20px;
}